<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courses</title>
    {% load staticfiles %}
    <!-- <link type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'first_app/css/course.css' %}"> -->
  </head>
  <body>
    <div id="container">
      <!-- <img class="logos" src="{% static "first_app/images/college.png" %}" alt="logo"> -->
      <div class="header">
        <h1>Welcome to Coding School</h1>
        <h2>Pick Your Courses Carefully.</h2>
      </div>
<!--This is going to be the INPUT FOR NEW COURSE-->
      <div class="newcourse">
        <form class="addcourse" action="populate" method="post">
          <fieldset>
            <legend><h2>Add Your New Courses</h2></legend>
            {% csrf_token %}
            <p>Name:<input type="text" name="names"></p>
            <p>Description:</p>
            <textarea name="description" rows="4" cols="50"></textarea>
            <input class="badd" type="submit" name="Add">
          </fieldset>
        </form>
      </div>
<!--This is going to be the TABLE FOR THE CLASSES INCLUDE REMOVE FUNCTION-->
      <div class="table">
        <table>
          <tr>
            <th><p>Course Name</p></th>
            <th><p>Description</p></th>
            <th><p>Date Added</p></th>
            <th><p>Actions</p></th>
          </tr>
          <tr>
            {% for hello in populate_all %}
            <td>{{hello.names}} </td>
            <td>{{hello.description}}</td>
            <td>{{hello.created_at}}</td>
            <td><a href="/remove/{{hello.id}}">Remove</a></td>
          </tr>
            {% endfor %}
        </table>
      </div>
    </div>
    <!-- This is a test page -->
  </body>
</html>


<style>
table{
  background-color: white;
  border: 2px solid black;
  padding: 10px;
}
th{
  border: 2px solid black;
  padding: 10px;
}
td{
  border: 2px solid black;
  padding: 10px;
}
</style>
